body, h1,h3, p, a ,ul{
    margin: 0;
    padding: 0;

}
#header{
    background-color:rgb(14, 14, 36);
    padding: 15px 0;
    border-bottom: 4px solid coral;
    
}
.container{
    width: 70%;
    margin:auto;
}
#header h1{
    color: white;
    display:inline-block;
   
}
.logo{
    color:coral;
}
.navbar{
    float:right;

}
.navbar li{
    display:inline-block;
    padding:10px 0;
    
}
.navbar li a {
    text-decoration:none;
    padding: 0 8px;
    box-sizing : border-box;
    color: #fff;
    display:inline-block;

}

.navbar li a:hover{
    color:coral;
}
.clr{
    clear:both;
}
#banner{
    height: 60vh;
    background-image: url(../images/pexels-cottonbro-studio-6804069.jpg);
    background-size:cover;
    background-position: center center;
    text-align: center;
}
#banner h1{
    color:#fff;
    padding-top: 60px;
    padding-left: 20px;
    font-family:sans-serif;
    font-size:35px;
    
}
#banner p{
    color: #eee;
    padding-top: 20px;
    font-family:sans-serif;
    font-size: 20px;
}
#newsletter{
    background-color:rgb(14, 14, 36) ;
    color:#fff;
    padding:20px 0;

}
.left{
    float:left;
    display:inline-block;

}

.right{
    float:right;

}
.right input{
    padding:5px;
}
.right button{
    padding:5px;
    color:#eee;
    background-color: coral;
    margin-left: 15px;
    
}
.box1{
    float:left;
    width:33.3%;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;

}
.box1 img{
    height: 120px;
}
#footer{

    background-color: coral;
    padding:25px 0;
    margin-top: 40px;
    text-align: center;
    color:#fff;
}

/* About */
.main-content{
    width:65%;
    float:left;
}
.sidebar{
    width: 30%;
    float:right;
}
#About-us{
    margin-top: 40px;
    font-family: sans-serif;
}
.bg-dark{
    background-color:rgb(14, 14, 36) ;
    color:white;
    padding:15px;
}

.service-box{
    padding:30px;
    margin:15px 0;
    background-color: #e5e5e5;
    border:1px solid #555;
}
.label{
    display: block;
    margin: 15px 0;
}
.form-input,textarea {
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.active{
    color:coral !important;
}